// bower:scss
// endbower

.on {
    fill: #26b756;
}

.off {
    fill: #e74b3c;
}
md-content.boiler {
    &::-webkit-scrollbar {
        display: none;
    }

    md-fab-speed-dial {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }

    md-list.md-whiteframe-2dp {
        background: white;
        //margin: 20px 0px;
    }
}
md-list-item.paused {
    background: #fafafa;
}
.menu-active {
    /*
    .md-button.md-default-theme:not([disabled]), .md-button:not([disabled]) {
        background-color: rgba(158,158,158,0.2);
    }*/
    p, md-icon {
        color: rgb(63,81,181);
        font-weight: bold;
    }
}
