// bower:scss
// endbower


.widgets-container {
    display:flex;
    flex-flow: row wrap;
    overflow-y: auto;
    align-content: flex-start;
    flex-grow: 1;
    background: #000;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.flex-grow-1 {
    flex-grow: 1;
}

widget {
    width: 45vh;
    height: 45vh;
    margin:10px 0px 0px 10px;
    background: #2A2A2A;
    display: flex;
    flex-direction: column;
    padding-bottom: 11px;

    &.x2 {
        width: 90vh;
        padding-left: 5px;
        padding-right: 5px;
    }

    header {
        color: #c2c9cb;
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 0;
        line-height: 17px;
        padding: 11px 22px 11px 13px;
    }
    div.content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        color: #eee;
        .highcharts-container{
            width: 100% !important;
            height: 100% !important;
        }
        div.number {
            flex: 1.5;
            padding: 0 16px;
            white-space: nowrap;
            font-size: 9.8vh;
        }
        div.desc {
            padding: 0 16px;
            white-space: wrap;
            font-size: 2.99vh;
        }

        .switch-border {
            display:flex;
            flex-direction:row;
            margin:auto;
            align-self:center;
            width: 25vh;
            height: 25vh;
            border: solid 10px #eee;
            border-radius: 50%;
        }
        .switch-button {
             margin:auto;
             align-self:center;
             width: 20vh;
             height: 20vh;
             border-radius: 50%;

             &.on {
                 background: green;
             }
             &.off {
                 background: red;
             }
        }
    }
    div.chart.number {
        flex: 2;
        padding: 0;
        color: #eee;
        font-size: 9vh;
        text-align: center;
    }
}
