<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" layout="column">

    <md-toolbar class="md-tall md-whiteframe-z1 md-accent">
        <div layout="column" class="md-toolbar-tools-bottom inset">
            <img src="images/logo.png" alt="logo" width="64" height="64">
            <span flex></span>
            <p>Personal Heating Manager</p>
        </div>
    </md-toolbar>

    <md-list>
        <md-list-item md-ink-ripple ui-sref="app.dashboard">
            <md-icon md-svg-src="images/dashboard.svg" aria-label="dashboard"></md-icon>
            <p flex>Dashboard</p>
        </md-list-item>
        <md-list-item md-ink-ripple ui-sref="app.boiler">
            <md-icon md-svg-src="images/fire.svg" aria-label="boiler"></md-icon>
            <p flex>Boiler</p>
            <md-icon md-svg-src="images/dot.svg" ng-class="{ 'on': app.boilerStatus, 'off': !app.boilerStatus }" aria-label="dashboard"></md-icon>
        </md-list-item>
        <md-list-item md-ink-ripple ui-sref="app.settings">
            <md-icon md-svg-src="images/settings.svg" aria-label="settings"></md-icon>
            <p flex>Settings</p>
        </md-list-item>
    </md-list>
</md-sidenav>

<ui-view layout="column" flex></ui-view>
